option_settings:
  aws:autoscaling:asg:
    Cooldown: 30
    MinSize: 1
    MaxSize: 4

  aws:autoscaling:trigger:
    BreachDuration: 1

  aws:autoscaling:updatepolicy:rollingupdate:
    RollingUpdateEnabled: true
    RollingUpdateType: Health
    PauseTime: PT1M
    #Timeout: PT1M5S
    MinInstancesInService: 1
    MaxBatchSize: 1

  aws:elasticbeanstalk:application:
    Application Healthcheck URL: /health_check


